---
title: "\"In 2024, In-Depth GoPro Hero5 Testing Report\""
date: 2024-05-26T14:38:29.184Z
updated: 2024-05-27T14:38:29.184Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes In 2024, In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes In 2024, In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://www.lifewire.com/thmb/FiY4ZQfStJ_uVwKv1NinKYy1XuU=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/ipad_productivity_apps-5a4ba7a022fa3a0036d15522.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>


<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://some-knowledge.techidaily.com/2024-approved-from-amateurs-to-a-listers-top-10-film-cameras-reviewed/"><u>2024 Approved  From Amateurs to A-Listers  Top 10 Film Cameras Reviewed</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/new-expert-advice-on-efficiently-locating-luminous-pexels/"><u>[New] Expert Advice on Efficiently Locating Luminous Pexels</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/updated-how-to-save-top-cloud-providers-rates/"><u>[Updated] How to Save  Top Cloud Providers' Rates</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/updated-fixing-the-freeze-youtube-streaming-in-firefox/"><u>[Updated] Fixing the Freeze  YouTube Streaming in Firefox</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/in-2024-from-concept-to-screen-writing-a-winning-docu-script/"><u>In 2024, From Concept to Screen  Writing a Winning Docu-Script</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/in-2024-implementing-video-timelines-on-youtube/"><u>In 2024, Implementing Video Timelines on YouTube</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/updated-home-cinema-mastery-top-10-hd-players-list/"><u>[Updated] Home Cinema Mastery  Top 10 HD Players' List</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/updated-foobar2000-wave-router/"><u>[Updated] Foobar2000 Wave Router</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/new-innovative-methods-to-hear-podcasts-on-iphone/"><u>[New] Innovative Methods to Hear Podcasts on iPhone</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/new-hidden-horizons-in-hand-drawn-harmony/"><u>[New] Hidden Horizons in Hand-Drawn Harmony</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/how-to-create-unique-ringtone-from-social-media-music-tracks-for-2024/"><u>How To Create Unique Ringtone From Social Media Music Tracks for 2024</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/updated-expert-techniques-efficiently-collecting-photo-and-video-banners/"><u>[Updated] Expert Techniques  Efficiently Collecting Photo and Video Banners</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/new-innovative-methods-for-creating-standout-instagram-collages/"><u>[New] Innovative Methods for Creating Standout Instagram Collages</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/complete-guide-icloud-drives-desktop-anddocuments-access-in-sierra-for-2024/"><u>[Complete Guide] iCloud Drive’s Desktop &Documents Access in Sierra for 2024</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/fishing-footage-frontier-top-action-cameras-for-the-sea-for-2024/"><u>Fishing Footage Frontier  Top Action Cameras for the Sea for 2024</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/2024-approved-image-integration-seamless-video-content-creation/"><u>2024 Approved  Image Integration  Seamless Video Content Creation</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/in-2024-harnessing-the-power-of-channels-boosting-telegram-presence/"><u>In 2024, Harnessing the Power of Channels  Boosting Telegram Presence</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/2024-approved-guide-to-premium-vr-showrooms/"><u>2024 Approved  Guide to Premium VR Showrooms</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/in-2024-exploring-the-pro-3-the-latest-in-action-cameras-from-ion/"><u>In 2024, Exploring the Pro 3 - The Latest in Action Cameras From ION</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/new-implement-shutter-speed-blurring-in-psx/"><u>[New] Implement Shutter Speed Blurring in PSX</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/exploring-the-core-of-m1-apples-innovation-for-2024/"><u>Exploring the Core of M1  Apple's Innovation for 2024</u></a></li>
<li><a href="https://tiktok-video-recordings.techidaily.com/new-in-2024-mastering-video-to-gif-conversion-top-5-software-insights/"><u>[New] In 2024, Mastering Video-to-GIF Conversion  Top 5 Software Insights</u></a></li>
<li><a href="https://instagram-videos.techidaily.com/new-essential-tips-for-effective-hashtag-utilization-in-instagram-marketing-for-2024/"><u>[New] Essential Tips for Effective Hashtag Utilization in Instagram Marketing for 2024</u></a></li>
<li><a href="https://ai-video-tools.techidaily.com/updated-2024-approved-get-ready-to-record-3-effortless-options-for-video-game-capture/"><u>Updated 2024 Approved Get Ready to Record 3 Effortless Options for Video Game Capture</u></a></li>
<li><a href="https://youtube-videos.techidaily.com/in-2024-effortless-video-submission-from-iphoneipad-for-youtubers/"><u>In 2024, Effortless Video Submission From iPhone/iPad for YouTubers</u></a></li>
<li><a href="https://screen-mirroring-recording.techidaily.com/new-2024-approved-expert-tips-for-captivate-based-demos/"><u>[New] 2024 Approved  Expert Tips for Captivate-Based Demos</u></a></li>
<li><a href="https://screen-mirror.techidaily.com/best-3-oppo-a56s-5g-emulator-for-mac-to-run-your-wanted-android-apps-drfone-by-drfone-android/"><u>Best 3 Oppo A56s 5G Emulator for Mac to Run Your Wanted Android Apps | Dr.fone</u></a></li>
<li><a href="https://sim-unlock.techidaily.com/the-best-android-sim-unlock-code-generators-unlock-your-oneplus-ace-3-phone-hassle-free-by-drfone-android/"><u>The Best Android SIM Unlock Code Generators Unlock Your OnePlus Ace 3 Phone Hassle-Free</u></a></li>
<li><a href="https://ai-video-tools.techidaily.com/the-best-video-editing-software-for-those-new-to-video-production-for-2024/"><u>The Best Video Editing Software for Those New to Video Production for 2024</u></a></li>
<li><a href="https://phone-solutions.techidaily.com/best-android-data-recovery-retrieve-lost-pictures-from-vivo-y27-4g-by-fonelab-android-recover-pictures/"><u>Best Android Data Recovery - Retrieve Lost Pictures from Vivo Y27 4G.</u></a></li>
<li><a href="https://android-pokemon-go.techidaily.com/how-and-where-to-find-a-shiny-stone-pokemon-for-nokia-g22-drfone-by-drfone-virtual-android/"><u>How and Where to Find a Shiny Stone Pokémon For Nokia G22? | Dr.fone</u></a></li>
<li><a href="https://extra-information.techidaily.com/choosing-the-best-footage-editor-hero-vs-polaroid-edition/"><u>Choosing the Best Footage Editor  Hero Vs. Polaroid Edition</u></a></li>
<li><a href="https://screen-mirror.techidaily.com/in-2024-3-methods-to-mirror-oppo-a1-5g-to-roku-drfone-by-drfone-android/"><u>In 2024, 3 Methods to Mirror Oppo A1 5G to Roku | Dr.fone</u></a></li>
<li><a href="https://tiktok-videos.techidaily.com/updated-in-2024-master-everyday-filming-techniques-a-comprehensive-tiktok-guide/"><u>[Updated] In 2024, Master Everyday Filming Techniques  A Comprehensive TikTok Guide</u></a></li>
<li><a href="https://howto.techidaily.com/why-does-my-samsung-galaxy-s23-ultra-keep-turning-off-by-itself-6-fixes-are-here-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>Why Does My Samsung Galaxy S23 Ultra Keep Turning Off By Itself? 6 Fixes Are Here | Dr.fone</u></a></li>
<li><a href="https://smart-video-editing.techidaily.com/updated-the-ultimate-guide-to-picture-in-picture-video-editing-in-final-cut-pro-for-2024/"><u>Updated The Ultimate Guide to Picture-in-Picture Video Editing in Final Cut Pro for 2024</u></a></li>
<li><a href="https://instagram-videos.techidaily.com/updated-in-2024-instagrams-power-in-motion-crafting-a-comprehensive-video-plan/"><u>[Updated] In 2024, Instagram's Power in Motion  Crafting a Comprehensive Video Plan</u></a></li>
</ul></div>

